<!DOCTYPE html>
<html>
  <head>
    <title>Read Text File Tutorial</title>
  </head>
  <body>
    <input type="file" name="inputFile" id="cmAutors">
    <br>
    <input type="file" name="inputFile" id="cmBook">
    <br>
    <input type="file" name="inputFile" id="cmUser">
    <br>
    <pre id="output">Aqui va la info</pre>
    <div id="Ortogonal"></div>
    <br>
    <div id="Dispersa"></div>
    <br>
    <div id="arbol"></div>
    <br>
    <div id="Circular"></div>

    

    <script src="//d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
    <script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>
    <script src="noModule.js" nomodule></script>
    <script src="../Js/CargasMasivas.js" type="module" id="cargasMasivas"></script>
    
    
   

  </body>
</html>
